*{
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #0D192B;
}


.flex-container{
    display: flex;
    width: 100%;
    height: 615px;
    justify-content: center;
    margin: 60px 0;
}

.card{
    background-color: #14253D;
    border-radius: 15px;
    width: 330px;
    height: 565px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}

.img-container-equilibrium{
    width: 290px;
    margin: 0 auto;
}

.card .img-active{
    position: absolute;
    width: 290px;
    height: 295px;
    background-color: #00FFF7;
    border-radius: 12px;
    top: 80px;
    z-index: 1;
}

.card .img-equilibrium{
    position: relative;
    z-index: 2;
    cursor: pointer;
    width: 290px;
    height: 295px;
    border-radius: 10px;
    margin: 20px 0 10px 0;
}

.view-icon-container{
    display: flex;
    width: 290px;
    height: 50px;
    position: absolute;
    top: 200px;
    justify-content: center;
}

.view-icon{
    position: absolute;
    z-index: 3;
    display: block;
    cursor: pointer;
    display: none;
}

.img-equilibrium:active{
    opacity: .5;
}

.img-container-equilibrium:active .view-icon{
    display: block;
}

.card .title{
    width: 180px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    margin-left: 22px;
}

.card .title:active, .Jules:active{
    color: #00FFF7;
}

.card .subtitle{
    color: #ddd;
    opacity: .7;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: .5px;
    margin-left: 22px;
}

.inline{
    display: inline-block;
}

.card .ethereum_icon{
    position: relative;
    top: 3px;
    margin-left: 22px;
    margin-right: 3px;
}

.card .ethereum_text{
    display: inline-block;
    color: #00FFF7;
    font-size: 16px;
}

.card .clock_icon{
    position: relative;
    top: 3px;
    margin-left: 100px;
    margin-right: 3px;
}

.card .clock_text, .avatar_text{
    display: inline-block;
    font-size: 15px;
    color: #ddd;
    opacity: .7;
    font-weight: 100;
}

.card hr{
    border: none;
    outline: 1px solid #2F415B;
    margin: 10px 22px;
}

.img-avatar{
    border: 1px solid #fff;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    margin: 8px 0px 0px 20px;
}

.Jules{
    color: #fff;
    font-size: 15px;
}

.avatar_text, .Jules{
    position: relative;
    cursor: pointer;
    top: -10px;
    left: 12px;
}

.attribution{
    position: relative;
    width: 430px;
    top: 40px;
    left: -25px;
    color: #ccc;
    font-weight: 100;
    font-size: 15px;
}

.attribution a{
    color: #274369;
}

.attribution a:visited{
    color: #274369;
}

@media only screen and (max-width: 1280px){
    .card .img-active{
        opacity: 0;
    }

    .img-container-equilibrium:active .img-active{
        opacity: 1;
    }
}

@media only screen and (max-width: 415px) and (min-width: 400px) {
    .card{
        width: 350px;
        height: 585px;
    }

    .img-container-equilibrium{
        width: 310px;
    }

    .card .img-equilibrium{
        width: 310px;
        height: 315px;
    }

    .card .img-active{
        width: 310px;
        height: 315px;
    }

    .view-icon-container{
        width: 310px;
        top: 210px;
    }

    .card .clock_icon{
        margin-left: 121px;
    }

    .card .title, .card .subtitle, .card .ethereum_icon{
        margin-left: 21px;
    }

    .card hr{
        margin: 10px 21px;
    }

    .img-avatar{
        margin: 8px 0px 0px 19px;
    }

    .attribution{
        text-align: center;
        width: 400px;
    }
}

@media only screen and (max-width: 376px) and (min-width: 359px) {
    .attribution{
        text-align: center;
        width: 360px;
    }
}

@media only screen and (max-width: 280px){
    .card{
        width: 280px;
        height: 510px;
    }

    .img-container-equilibrium{
        width: 240px;
    }

    .card .img-equilibrium{
        width: 240px;
        height: 245px;
    }

    .card .img-active{
        width: 240px;
        height: 245px;
    }

    .view-icon-container{
        width: 240px;
        top: 180px;
    }

    .card .clock_icon{
        margin-left: 50px;
    }

    .card .title, .card .subtitle, .card .ethereum_icon{
        margin-left: 15px;
    }

    .card hr{
        margin: 10px 15px;
    }

    .img-avatar{
        margin: 8px 0px 0px 13px;
    }

    .attribution{
        position: relative;
        width: 275px;
        top: 32px;
        left: -2px;
        color: #ccc;
        font-weight: 100;
        font-size: 15px;
        text-align: center;
    }
}